/*min 683 px*/

html, body {
  width:100%;
  height:100%;
}

body {
  font-family:Arial, Helvetica, sans-serif;
}

h1 {
  text-align:center;
  font-family: 'Knewave', cursive;
  color:#879CE3;
}

button {
  border:0px;
  border-radius:10px;
  cursor:pointer;
  font-family: 'Knewave', cursive;
}

/*game lights*/

.but {
  width:299px;
  height:150px;
  border-radius:50%;
  background-position: 0 0;
}

.active {
  cursor:pointer;
}

#middle { /*container for middle lights*/
  height:150px;
  width:624px;
  margin-left:auto;
  margin-right:auto;
}

#red {
  margin-left:auto;
  margin-right:auto;
  background-image:url('red.png');
}

#blue {
  float:left;
  margin-right:10px;
  background-image:url('blue.png');
}

#green {
  float:left;
  margin-left:10px;
  background-image:url('green.png');
}

#yellow {
  margin-left:auto;
  margin-right:auto;
  background-image:url('yellow.png');
}

/*controls and status*/

#controls {
  margin-top:20px;
  text-align:center;
}

#start {
  background-color:#879CE3;
  background-image:url('paw.png');
  height:50px;
  width:150px;
  background-repeat:no-repeat;
  background-position:right center;
  font-size:170%;
  text-align:left;
  padding-left:15px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

#strictmode {
  display:inline;
}

#count {
  background-image:url('counter.png');
  width:150px;
  height:150px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  line-height:210px;
  font-size:200%;
}

#counts {
  background-color:white;
  padding:0px 5px;
}

#reset {
  display:inline;
}

/*messages*/

#popup {
  display:none;
  background-color:#879CE3;
  text-align:center;
  position:fixed;
  width:40%;
  left: 50%;
  margin-left: -20%; /*half the width - to centre */
  z-index:10;
  padding: 0px 10px;
  border-radius:30px;
}